<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enter Message</title>
    <link rel="stylesheet" href="/css/message.css">
</head>
<body>
    
    <form onsubmit="document.getElementById('username').value=localStorage.getItem('username')" action="/" method="POST">
        <input id="message" type="text" name="message" placeholder="Enter message">
        <input type="hidden" name="username" id="username">
        <button type="submit">Send</button>
    </form>
</body>
</html>
